.title-primary {
    font-size: 14px;
}
.text-primary {
    color: #808080;
}
.img {
    width: 305px;
    height: 226px;
}
.link {
    font-size: 16px;
}
.eminem {
    width: 357px;
    height: 419px;
    background-color: #FFF;
    border: 1px solid #B4B4B4;
}
